extends layout

block content
     
     section#todo
      header#header
       h1 Todo's
       form( id='todo-form')
        input(id='new-todo', placeholder="Add you todo activity", name='title')
      section#main
       input(id="toggle-all", type="checkbox")
       ul#todo-list
      footer#footer
     div#info
      p Double-click to edit a todo
      p Node.js | Express.js | Mongoose.js | MongoDb
     